/*

 ____ ___ _   _  ____    _    _   _ ____  _____ ____
|  _ \_ _| \ | |/ ___|  / \  | \ | / ___|| ____/ ___|
| |_) | ||  \| | |  _  / _ \ |  \| \___ \|  _|| |
|  __/| || |\  | |_| |/ ___ \| |\  |___) | |__| |___
|_|  |___|_| \_|\____/_/   \_\_| \_|____/|_____\____|


*/
@charset "utf-8";
html, body {
    font: 14px/1.5 "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
    color: #607485;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: inherit;
    font-weight: normal;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0
}

ul, ol, li, dd, dl, dt {
    list-style: none;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

table, td, tr, th {
    border-collapse: collapse;
    border: 0;
    text-align: left
}

a {
    text-decoration: none;
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
    outline: 0;
    font-weight: normal;
    color: #607485
}

a:hover {
    text-decoration: none
}

img {
    border: 0
}

em, i {
    font-style: normal
}

label {
    display: inline-block
}

table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

table th {
    font-weight: normal
}

table th, table td {
    word-wrap: break-word;
    word-break: break-all
}

ul, ol {
    list-style-type: none
}

b, i {
    font-weight: normal;
    font-style: normal
}

input, select, textarea {
    vertical-align: middle;
    outline: 0
}

input {
    font-family: "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
    color: #333
}

input[type="button"]:hover {
    background-color: #2199e2
}

:focus {
    outline: 0
}

input[type="text"]:focus {
    border: 1px solid #f07a24
}

input[type="password"]:focus {
    border: 1px solid #f07a24
}

.clearfix:after {
    content: "";
    overflow: hidden;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}

* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    overflow: hidden
}

body {
    background-color: #f0f3f6;
    padding-top: 82px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden
}

.main {
    height: 100%;
    overflow: auto;
    margin-left: 240px
}

.main .inner_main {
    padding: 0 22px;
    _height: 100%;
    min-height: 100%
}

.m-container {
    padding-bottom: 73px
}

.m-container .m-title {
    min-width: 960px;
    padding: 26px 22px 18px 0;
    color: #607485;
    font-size: 14px;
    border-bottom: 1px solid #dae1e8
}

.m-container .m-title .m-title-t1 {
    font-size: 16px
}

.m-container .m-title .m-title-t2 {
    font-size: 14px
}

.m-container .m-title .m-title-t3 {
    cursor: pointer;
    font-size: 12px
}

.m-container .m-title .m-title-left {
    float: left;
    font-size: 16px
}

.m-container .m-title .m-title-right {
    float: right;
    position: relative;
    font-size: 16px
}

.m-container .m-title .m-title-right ul li {
    float: right;
    color: #607485;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 12px
}

.m-container .m-title .m-title-right ul li:hover, .m-container .m-title .m-title-right ul li.current {
    color: #fff;
    background-color: #f07a24;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer
}

.m-container .m-title .m-title-right .data-picker {
    position: absolute;
    right: -22px;
    top: 46px;
    display: none;
    border: 1px solid #dae1e8;
    box-shadow: 1px 1px 5px #dae1e8;
    background-color: #fff;
    padding: 22px
}

.m-container .m-content {
    padding-top: 26px;
    padding-bottom: 6px;
    min-width: 960px
}

.m-container .t1 {
    font-size: 30px;
    color: #fff
}

.m-container .t2 {
    font-size: 14px;
    color: rgba(250, 250, 250, 0.6)
}

.m-container .t3 {
    font-size: 30px;
    color: #607485
}

.m-container .t4 {
    font-size: 14px;
    color: #607485
}

.m-container .t5 {
    font-size: 16px
}

.m-container .t4 span, .c-orange {
    color: #f07a24
}

.datetimepicker {
    margin-top: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    text-align: center
}

.datetimepicker:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 7px solid #118dd9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute
}

.datetimepicker .datetimepicker-rtl {
    direction: rtl
}

.datetimepicker .datetimepicker-rtl table tr td span {
    float: right
}

.datetimepicker > div {
    display: none
}

.datetimepicker table {
    width: 370px;
    background: #fff;
    border-radius: 2px
}

.datetimepicker table th, .datetimepicker table th.next, .datetimepicker table th.prev {
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out
}

.datetimepicker table th {
    width: 34px;
    height: 40px;
    text-align: center;
    font-weight: 400
}

.datetimepicker table th.switch {
    width: 170px;
    background: #118dd9;
    color: #fff;
    cursor: pointer
}

.datetimepicker table th.next:hover, .datetimepicker table th.prev:hover, .datetimepicker table th.switch:hover {
    background: #dff3ff;
    color: #118dd9
}

.datetimepicker table th.next, .datetimepicker table th.prev {
    background: #118dd9;
    color: #fff;
    cursor: pointer
}

.datetimepicker table th.next i, .datetimepicker table th.prev i {
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out
}

.datetimepicker table th.next {
    border-top-right-radius: 2px
}

.datetimepicker table th.prev {
    border-top-left-radius: 2px
}

.datetimepicker table th.dow {
    color: #607485;
    background: #fff;
    font-size: 14px
}

.datetimepicker table th.today {
    color: #118dd9;
    cursor: pointer
}

.datetimepicker table th.today:hover, .datetimepicker-days td:hover, .datetimepicker-hours span.hour:hover, .datetimepicker-hours span.minute:hover, .datetimepicker-hours span.month:hover, .datetimepicker-hours span.year:hover, .datetimepicker-minutes span.hour:hover, .datetimepicker-minutes span.minute:hover, .datetimepicker-minutes span.month:hover, .datetimepicker-minutes span.year:hover, .datetimepicker-months span.hour:hover, .datetimepicker-months span.minute:hover, .datetimepicker-months span.month:hover, .datetimepicker-months span.year:hover, .datetimepicker-years span.hour:hover, .datetimepicker-years span.minute:hover, .datetimepicker-years span.month:hover, .datetimepicker-years span.year:hover {
    background: #f0f0f0
}

.datetimepicker table .icon-arrow-left:before, .datetimepicker table .icon-arrow-right:before {
    display: inline-block;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    content: "\03c"
}

.datetimepicker table .icon-arrow-right:before {
    content: "\03E"
}

.datetimepicker table th.next:hover, .datetimepicker table th.prev:hover {
    color: #118dd9
}

.datetimepicker table td {
    text-align: center;
    width: 34px;
    height: 34px;
    cursor: pointer;
    font-size: 13px;
    color: #118dd9;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.datetimepicker table td.today {
    color: #fff
}

.datetimepicker table span.active, .datetimepicker table td.active {
    background-color: #f07a24;
    color: #fff
}

.datetimepicker table .new, .datetimepicker table .old {
    color: #95a0aa
}

.datetimepicker table .disabled {
    background: #fafafa;
    color: #999;
    cursor: not-allowed
}

.datetimepicker-hours table td, .datetimepicker-minutes table td, .datetimepicker-months table td, .datetimepicker-years table td {
    height: auto;
    background: #fff
}

.datetimepicker-hours table td:after, .datetimepicker-hours table td:before, .datetimepicker-minutes table td:after, .datetimepicker-minutes table td:before, .datetimepicker-months table td:after, .datetimepicker-months table td:before, .datetimepicker-years table td:after, .datetimepicker-years table td:before {
    content: " ";
    display: table
}

.datetimepicker-hours table td:after, .datetimepicker-minutes table td:after, .datetimepicker-months table td:after, .datetimepicker-years table td:after {
    clear: both
}

.datetimepicker-hours span.hour, .datetimepicker-hours span.minute, .datetimepicker-hours span.month, .datetimepicker-hours span.year, .datetimepicker-minutes span.hour, .datetimepicker-minutes span.minute, .datetimepicker-minutes span.month, .datetimepicker-minutes span.year, .datetimepicker-months span.hour, .datetimepicker-months span.minute, .datetimepicker-months span.month, .datetimepicker-months span.year, .datetimepicker-years span.hour, .datetimepicker-years span.minute, .datetimepicker-years span.month, .datetimepicker-years span.year {
    float: left;
    height: 38px;
    width: 59.5px;
    line-height: 38px
}

.datetimepicker-hours fieldset, .datetimepicker-hours legend, .datetimepicker-minutes fieldset, .datetimepicker-minutes legend {
    margin: 0;
    padding: 0
}

.datetimepicker-inline {
    width: 238px
}

.datetimepicker-inline:before {
    content: none
}

.datetimepicker-dropdown-bottom-right:before {
    top: -7px;
    right: 10px
}

.datetimepicker-dropdown-bottom-left:before {
    top: -7px;
    right: 10px
}

.datetimepicker-dropdown-top-left, .datetimepicker-dropdown-top-right {
    margin-top: 0
}

.datetimepicker-dropdown-top-left:before, .datetimepicker-dropdown-top-right:before {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    bottom: -7px;
    right: 10px
}

.am-input-group.date span.add-on {
    cursor: pointer
}

.dropdown-menu {
    position: absolute;
    display: none
}

@media only screen and (max-width: 640px) {
    .datetimepicker {
        width: 100%;
        left: 0 !important
    }

    .datetimepicker table {
        width: 100%
    }

    .datetimepicker td span.hour, .datetimepicker td span.minute, .datetimepicker td span.month, .datetimepicker td span.year {
        width: 25%
    }

    .datetimepicker:before {
        content: none
    }

    .next, .prev {
        width: 44px;
        height: 44px
    }
}

.a-more {
    color: #f07a24;
    font-size: 14px;
    cursor: pointer;
    float: right
}

.m-nav {
    padding-top: 16px;
    min-width: 960px
}

.m-nav ul {
    overflow: hidden
}

.m-nav ul li {
    float: left;
    margin-right: 26px;
    padding-bottom: 4px
}

.m-nav ul li.current, .m-nav ul li:hover {
    border-bottom: 2px solid #118dd9;
    cursor: pointer;
    color: #118dd9
}

.custombtn2 {
    color: #fff;
    border: 0;
    background-color: #118dd9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 12px 32px;
    margin-left: 14px
}

.custombtn2:hover {
    background-color: #2199e2
}

.m-container .m-content .m-content-b {
    display: box
}

.m-container .m-content .m-content-b .c-left3 {
    width: 50%;
    border-right: 1px solid #dae1e8
}

.m-container .m-content .m-content-b .c-right3 {
    width: 40%
}

.search-content {
    padding: 32px 26px;
    background-color: #fff
}

.pagination {
    overflow: hidden
}

.page {
    float: right;
    display: inline-block;
    border: 1px solid #dae1e8
}

.page p a {
    border-left: 1px solid #dae1e8;
    background-color: #fff;
    padding: 1px 8px;
    float: left;
    display: inline-block
}

.page p i {
    padding: 1px 8px;
    float: left
}

.page p a:hover, .page p a.current {
    color: #fff;
    background-color: #118dd9;
    border-left: 1px solid #118dd9
}

.table-style1 {
    table-layout: fixed;
    width: 100%;
    font-size: 14px
}

.table-style1 .tb-width1 {
    width: 40%
}

.table-style1 .tb-width2 {
    width: auto
}

.table-style1 .tb-width3 {
    width: 70px
}

.table-style1 .tb-width4 {
    width: 28%
}

.table-style1 .tb-width5 {
    width: 15%
}

.table-style1 .tb-width6 {
    width: 16%
}

.table-style1 .tb-width7 {
    width: 13%
}

.table-style1 .tb-width8 {
    width: 20%
}

.table-style1 .tb-width9 {
    width: 24%
}

.table-style1 tr:nth-child(2n) {
    background-color: #f9fbfc
}

.table-style1 tr:nth-child(2n+1) {
    background-color: #f0f4f8
}

.table-style1 tr td {
    padding: 16px 18px;
    color: #95a0aa
}

.table-style1 tr .c-orange {
    color: #f07a24
}

.table-style1 .tb-head th {
    background-color: #a4aeb9;
    color: #fff;
    padding: 10px 18px
}

.dis-none {
    display: none
}

.loading {
    display: none
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.loading .limg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: no-repeat url("/resources/img/user/loading.png") left center;
    animation: spin 1s linear infinite
}

.m-container .m-content .m-content-b {
    overflow: hidden
}

.m-container .m-content .m-content-b .c-left4 {
    width: 240px;
    float: left;
    background-color: #118dd9;
    color: #fff;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    min-height: 240px;
    height: auto !important;
    height: 240px
}

.m-container .m-content .m-content-b .c-left4 .c-all {
    width: 240px;
    height: 170px;
    padding-top: 70px;
    text-align: center;
    background-position: 0 120px;
    background-repeat: no-repeat;
    background-image: url("/resources/img/user/all_s_line.png")
}

.m-container .m-content .m-content-b .c-right4 {
    margin-left: 260px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    min-height: 200px;
    height: auto !important;
    height: 200px
}

.m-container .m-content .m-content-b .c-right4 .c-items {
    background-color: #fff;
    padding: 20px 0 0 40px;
    min-height: 220px;
    _height: 220px
}

.m-container .m-content .m-content-b .c-right4 .c-items ul {
    width: 100%;
    overflow: hidden
}

.m-container .m-content .m-content-b .c-right4 .c-items ul li {
    padding: 20px 0 40px 0;
    float: left;
    width: 33%
}

.m-container .m-content .m-content-b .c-right4 .c-items .c-item {
    border-left: 2px solid #f07a24;
    padding-left: 18px;
    float: left
}

.m-container .m-chart-bg {
    padding-left: 22px;
    margin-top: 26px;
    height: 400px;
    background-color: #fff
}

.m-container .m-content .m-chart {
    height: 400px
}

#hide-input {
    display: none
}

.m-container .t4 span {
    padding-left: 10px
}

.date-picker {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    width: 370px;
    z-index: 1000;
    background: #fff;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc
}

.date-picker:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 7px solid #118dd9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    top: -7px;
    right: 10px
}

.date-picker .hasDatepicker {
    display: inline-block
}

.date-picker #datepickerStart {
    width: 370px;
    float: left
}

.date-picker .datetimepicker {
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.copyright {
    margin-top: -73px;
    padding-bottom: 32px;
    padding-top: 23px;
    text-align: center;
    font-size: 12px;
    color: #95a0aa;
    width: 100%;
    min-width: 960px;
    _width: 960px
}

.top {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e7e9;
    min-width: 1000px
}

.header {
    background-color: #fff;
    height: 51px;
    padding: 15px 26px 14px 26px
}

.header .h-left {
    float: left
}

.header .h-left .logo {
    float: left;
    width: 241px;
    height: 51px
}

.header .h-left .logo img {
    width: 241px;
    height: 51px;
    border: 0
}

.header .h-left span {
    padding-left: 20px;
    display: inline-block;
    float: left;
    font-size: 22px;
    color: #0c8bd8;
    line-height: 44px;
    font-weight: normal
}

.header .h-right {
    position: relative;
    float: right
}

.header .h-right div {
    display: inline-block;
    float: right;
    color: #00aff0
}

.header .h-right div a {
    cursor: pointer
}

.header .h-right div img {
    width: 38px;
    height: 27px;
    border: 0
}

.header .h-right .user {
    background-color: #118dd9;
    color: #fff;
    font-size: 16px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px
}

.header .h-right .user-info {
    position: absolute;
    right: -26px;
    top: 63px;
    display: none;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 5px #e2e2e2;
    background-color: #118dd9;
    padding: 22px
}

.header .h-right .user-info p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    font-weight: normal
}

.header .h-right .user-info p a {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    font-weight: normal
}

.header .h-right .inform {
    position: relative;
    padding-top: 8px
}

.header .h-right .inform .notes {
    position: absolute;
    height: 8px;
    width: 8px;
    left: 25px;
    top: 9px;
    z-index: 999;
    display: none;
    background-color: #f07a24;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px
}

.header .h-right b {
    height: 27px;
    width: 1px;
    display: inline-block;
    margin-left: 22px;
    margin-right: 24px;
    background-color: #95a0aa
}

.header .h-right .help {
    padding-top: 8px;
    padding-right: 12px
}

.l-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    width: 240px;
    z-index: 1;
    border-right: 1px solid #e5e7e9;
    background-color: #fff;
    height: 100%;
    overflow: auto
}

.l-nav > ul {
    border-top: 2px solid #f0f3f6;
    padding-bottom: 80px
}

.l-nav ul > li > .tit {
    display: inline-block;
    padding: 17px 21px;
    height: 26px;
    color: #607485
}

.l-nav ul > li > .tit img {
    display: inline-block;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 9px
}

.l-nav ul > li > .tit span {
    display: inline-block;
    font-size: 16px;
    float: left;
    height: 26px;
    line-height: 26px
}

.l-nav ul > li > .current {
    color: #118dd9
}

.l-nav ul > li > ul > li {
    color: #95a0aa;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding-left: 73px
}

.l-nav ul > li > ul > li:hover, .l-nav ul > li > ul > li.current {
    color: #118dd9;
    padding-left: 69px;
    font-size: 14px;
    height: 60px;
    border-left: 4px solid #118dd9;
    background-color: #dff3ff
}

.l-nav ul > li > ul > li:hover {
    cursor: pointer
}


/*********************************************************/
/**
search_history.css
 */
/*********************************************************/
.search-input{
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;
}
.input-type1{
    border: 1px solid #dae1e8;
    padding: 12px;
    font-size: 14px;
    margin: 0;
    width: 300px;
    float: left;
    overflow: hidden;
}
.input-type1:focus{
    border: 1px solid #f07a24;
}
.m-container .m-content .m-content-b .c-right3 .result-on {
    position: relative;
}
.m-container .m-content .m-content-b .c-right3 .result-on a{

    position: absolute;
    right: 0px;
    bottom: 0px;
}

.m-container .m-content .m-content-b .c-right3 .result-on ul{
    width: 70%;
    overflow: hidden;
}
.m-container .m-content .m-content-b .c-right3 .result-on ul li {
    padding-left: 28px;
    height: 32px;
    line-height: 32px;
    width: 60%;
    float: left;
}
.m-container .m-content .m-content-b .result-on ul li span{
    padding-left: 10px;
}
.result-on,.result-off{
    display:none;
}
.default,.result-off,.loading{
    text-align: center;
    padding-top: 39px;
    color:#9da7b0 ;
    line-height:18px;
}

/*图表*/
.m-container .m-chart-bg {
    padding-left:22px;
    margin-top: 26px;
    height: 400px;
    background-color: #ffffff;
}
.m-container .m-content .m-chart {
    height: 400px;
}
#hide-input {
    display: none;
}

/*日历*/
.date-picker{
    display: none;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 780px;
    z-index: 1000;
    padding-bottom: 24px;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 2px;
    border:1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
}
.date-picker:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 7px solid #118dd9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    top: -7px;
    right: 10px;
}
.date-picker .hasDatepicker{
    display: inline-block;
}
.date-picker #datepickerStart{
    width: 370px;
    float: left;

}
.date-picker #datepickerEnd{
    width: 370px;
    float: right;

}
.date-picker .datetimepicker{
    margin-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.date-picker .date-to{
    text-align: center;
    color: #607485;
    display: inline-block;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;

}
.date-picker .custombtn{
    /*clear: both;*/
    color:#ffffff;
    border:none;
    margin-top:14px;
    background-color:#f07a24 ;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    margin-right:20px;
    float: right;
}
.date-picker .custombtn:hover{
    background-color: #f88836;
}


.form-msg{
    color:#f07a24 ;
    font-size: 12px;
    line-height: 12px;
}
.m-container .m-content .m-content-b .c-left3{
    float: left;

}
.m-container .m-content .m-content-b .c-right3{
    float: left;
}

/*********************************************************/
/**
personal.css
 */
/*********************************************************/

.id-verify{
    /*display: none;*/
}
.card-verify{
    display: none;
}
.card-verify .input-select-d{
    height: 300px;
    overflow: auto;
}
.m-content .m-content-b .c-left3 .c-left3-content{
   width: 440px;
    position: relative;
}
.m-content .m-content-b .c-left3 .c-left3-content p{
    padding-bottom:16px;
    clear: both;
    height: 42px;
    overflow: hidden;
}
.m-content .m-content-b .c-left3 .c-left3-content  p label{
    float: left;
    width: 65px;
    padding:10px 0px;
    font-size:14px;
    padding-right:12px;
    text-align: right;
    display: inline-block;
}
.m-content .m-content-b .c-left3 .c-left3-content  p input:focus{
    border: 1px solid #f07a24;
}
.m-content .m-content-b .c-left3 .c-left3-content  p a{
    display: inline-block;
    width: 37px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dae1e8;
    border-left: none;
    float: right;
}
.m-content .m-content-b .c-left3 .c-left3-content  p img{
    width: 37px;
    height: 37px;
}
.s-list{
    position: relative;
    display: block;
}
/*下拉列表*/
.input-select{
    display: none;
    position: absolute;
    left: 94px ;
    top:157px ;
    z-index: 888;
    border: 1px solid #dae1e8;
    /*border-top: none;*/
    border-bottom: none;
    width: 286px;
}
.input-select ul li{
    padding: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #dae1e8;
}
.input-select ul li:hover{
    background-color: #dff3ff;
}
.input-select-d{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    left: 77px;
    /*top:42px;*/
    z-index: 888;
    padding: 10px 0px ;
    width: 288px;

    margin-top: -16px;
}

.contact-div{
    border-top: 1px dashed #eaeaea;
    margin-top: 8px;
    padding-top: 24px;
}

.input-select-d ul li{
    padding-left: 12px;
    background-color: #f0f0f0;
    /*border-bottom: 1px solid #dae1e8;*/
}
.input-select-d ul li:hover{
    color: #ffffff;
    background-color: #118dd9;
}
.m-content .m-content-b .c-left3 p .form-msg{
    color:#f07a24 ;
    font-size: 12px;
    line-height: 12px;
}
.m-content .m-content-b .c-left3 .c-left3-content  .s-bottom {
    float: right;
    margin-top: 10px;
}
.m-content .m-content-b .c-right3{
    padding-left: 28px;
}
.m-content .m-content-b .c-right3 p{
    clear: both;
    overflow: hidden;
}
.m-content .m-content-b .c-right3 p.ty2,.m-content .m-content-b .c-right3 p.ty3{
    display: none;
}
.m-content .m-content-b .c-right3 label {
    font-size:14px;
    padding:10px 0px;
    padding-right: 8px;
}
.m-content .m-content-b .c-right3 p a {
    font-size:14px;
    padding:10px 0px;
    padding-right: 8px;
}
.m-content .m-content-b .c-right3 .img-show {
    display: inline-block;
    width:140px;
    height: 180px;
    margin-top: 10px;
    background-color: #118dd9;
    vertical-align: top;
}
.m-content .m-content-b .c-right3 .img-show img{
    width:140px;
    height: 180px;
}
.result,.result-on,.result-off{
    display: none;
}

.input-type3{
    border: 1px solid #dae1e8;
    padding: 12px;
    font-size: 14px;
    margin: 0;
    float: left;
    color:#607485;
    width: 300px;
    overflow: hidden;
    display: inline-block;
}
.select-click{
    float: left;
    display: inline-block;
}

.input-type5{
    border: 1px solid #dae1e8;
    padding: 12px;
    font-size: 14px;
    margin: 0;
    float: right;
    color:#607485;
    width: 100px;
    overflow: hidden;
}
.input-type4{
    border: 1px solid #dae1e8;
    padding: 10.5px;
    font-size: 14px;
    color:#607485;
    margin: 0;
    float: right;
    width: 265px;
    overflow: hidden;
}

.no-result{
    display: none;
}

/*********************************************************/
/**
charge_history.css
 */
/*********************************************************/

.charge-content{
    background-color: #ffffff;
    padding:22px;
}
.table-style1{
    margin-bottom: 30px;
}

/*********************************************************/
/**
consume_history.css
 */
/*********************************************************/
.m-container .m-content .m-content-b {
    /*display: -webkit-box;*/
    display: box;
    overflow:hidden;
}
.m-container .m-content .m-content-b .c-left2 {
    /*-webkit-box-flex: 1;*/
    width: 49%;
    float: left;
    background-color: #118dd9;
    margin-right: 14px;
    color: #ffffff;
    padding:38px 0px 38px 0px;

}
.m-container .m-content .m-content-b .t-img{
    float: left;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 48px 0px;
    width: 68px;
    height: 68px;
    padding-right: 30px;
    padding-left: 48px;
}
.m-container .m-content .m-content-b .c-left2 .c-left2-i {
    background-image: url("/resources/img/user/consume_balacne.png");
}
.m-container .m-content .m-content-b .c-right2 {
    /*-webkit-box-flex: 1;*/
    width: 49%;
    float: right;
    background-color: #f07a24;
    color: #ffffff;
    padding:38px 0px 38px 0px;
}
.m-container .m-content .m-content-b .c-right2 .c-right2-i {
    background-image: url("/resources/img/user/consume_balacne.png");
}
.m-container .m-chart-bg {
    padding-left:22px;
    margin-top: 26px;
    height: 400px;
    background-color: #ffffff;
}
.m-container .m-content .m-chart {
    height: 400px;
}
#hide-input {
    display: none;
}
.date-picker{
    display: none;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 780px;
    z-index: 1000;
    /*width: 481px;*/
    padding-bottom: 24px;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 2px;
    border:1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
}
.date-picker:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 7px solid #118dd9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    top: -7px;
    right: 10px;
}
.date-picker .hasDatepicker{
    display: inline-block;
}
.date-picker #datepickerStart{
    width: 370px;
    float: left;

}
.date-picker #datepickerEnd{
    width: 370px;
    float: right;

}
.date-picker .datetimepicker{
    margin-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.date-picker .date-to{
    text-align: center;
    color: #607485;
    display: inline-block;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;

}
.date-picker .custombtn{
    /*clear: both;*/
    color:#ffffff;
    border:none;
    margin-top:14px;
    background-color:#f07a24 ;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    margin-right:20px;
    float: right;
}
.date-picker .custombtn:hover{
    background-color: #f88836;
}

/*********************************************************/
/**
modify_password.css
 */
/*********************************************************/
.c-left3-content{
    width: 420px;
    height: 436px;
    position: relative;
}
.c-left3-content p{
    padding-bottom:16px;
    clear: both;
    overflow: hidden;
}
.c-left3-content  p label{
    float: left;
    width: 65px;
    padding:12px 0px;
    font-size:14px;
    padding-right:12px;
    text-align: right;
}
.c-left3-content  .s-bottom {
    padding-top: 28px;
    float: right;
}
.input-type2{
    border: 1px solid #dae1e8;
    padding: 12px;
    font-size: 14px;
    margin: 0;
    width: 300px;
    float: right;
    overflow: hidden;
}

.password-content{
    padding:32px 26px;
    background-color: #ffffff;
}
.password-content .c-left3-content p .form-msg{
    color:#f07a24 ;
    margin-left: 20px;
}

/*修改成功*/
.suc_content{
    background-color: #ffffff;

}
.password-suc{
    clear: both;
    display: none;
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat:no-repeat;
    background-position: center 170px;
    background-image: url("/resources/img/user/suc_pwd.png");
}
.password-suc .prompt-title{
    position: absolute;
    top:250px;
    width:100%;
    height: 18px;
    font-size: 14px;
    color:#118dd9 ;
    text-align: center;
}
.suc_content .password-suc .prompt-title .custombtn2{
    margin-left:0px;
    margin-top: 38px;
}


/*********************************************************/
/**
notice.css
 */

/*********************************************************/

.list-content li{
    padding: 16px 20px;
    margin-bottom:20px;
    background-color: #ffffff;
}
.list-content li .border-bottom{
    padding-bottom: 12px;
    border-bottom: 1px solid #dae1e8;
    margin-bottom: 12px;
}
.list-content li .border-bottom span{
    padding-right: 18px;
}
.m-content-p{
    background-color: #ffffff;
    padding: 16px 20px;
}
.c-gray{
    color: #95a0aa;
}
.list-content li span.p-rt{
    float: right;
    padding-right: 0px;
}

/*********************************************************/
/**
support.css
 */

/*********************************************************/

.list-content li{
    padding: 16px 20px;
    margin-bottom:20px;
    background-color: #ffffff;
}
.list-content li span a:hover{
    cursor:pointer;
}
.m-content-p{
    background-color: #ffffff;
    padding: 16px 20px;
}